AQYO8L_0927/AQYO8L_mozi_dtd.dtd

<!ELEMENT mozi (film*)>
<!ELEMENT film (rendezo*, szinesz*, iro*)>
<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo id ID #REQUIRED
                nev CDATA #REQUIRED>
<!ELEMENT szinesz EMPTY>
<!ATTLIST szinesz id ID #REQUIRED
                nev CDATA #REQUIRED>
<!ELEMENT iro EMPTY>
<!ATTLIST iro id ID #REQUIRED>

<!ATTLIST film mufaj (horror | drama | comedy) "horror">