AQYO8L_1004/AQYO8L_orarend.dtd

<!ELEMENT AQYO8L_Orarend (ora*)>
<!ELEMENT ora (targy, idopont, helyszin, oktato, szak*)>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
<!ELEMENT idopont (nap, mettol, meddig)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT mettol (#PCDATA)>
<!ELEMENT meddig (#PCDATA)>
<!ATTLIST ora id ID #REQUIRED
                tipus (eloadas|gyakorlat) "eloadas">